@font-face {
    font-family: 'Bebas Neue';
    src: url('Fontspring-DEMO-bebasneuepro-regular.otf') format('truetype');
    /* Add more src lines for other font formats if available */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    text-transform: capitalize;
    overflow-x: hidden;

}
.container{
    max-width: none;
}
.wrapper {
    margin-right: auto;
    /* 1 */
    margin-left: auto;
    /* 1 */

    max-width: 1280px;
    /* 2 */

    padding-right: 5px;
    /* 3 */
    padding-left: 5px;
    /* 3 */
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 200;

}
h2{
    font-weight: 200;
    color: #c63938;
    font-size: 3rem;
    text-transform: uppercase;
}

.primary-button {
    background-color: #c63938;
    color: #f5f5f5;
    border: none;
    outline: none;
    padding: 10px 20px;
}
.primary-button:hover {
    background-color: transparent;
    color: #c63938;
    border: 1px solid #c638389a;

}
input[type="text"]:focus{
    box-shadow: 0 0 0 #c63938;
}

input[type="email"]:focus{
     box-shadow: 0 0 0 #c63938;
}
input[type="tel"]:focus{
    box-shadow: 0 0 0 #c63938;
}
textarea[type="text"]:focus{
    box-shadow: 0 0 0 #c63938;

}
.form-group{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.secondary-btn {
    padding: 10px 10px;
    width: 30%;
    border: 1px solid #c638389a;
    outline: 0;
    font-size: 14px;
    color: #c638389a;
    background-color: #f5f5f5;
    margin-top: 1rem;
}

.secondary-btn:hover {
    padding: 10px 10px;
    width: 30%;
    outline: 0;
    color: #f5f5f5;
    background-color: #c63938;
}

.tertiary-button {
    background: transparent;
    border: none;
    outline: none;
    color: #6d6d6d;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
}

.tertiary-button span {
    margin-left: 5px;
}

.static-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #c63938;
    border: 1px solid #c63938;
    background-color: transparent;

    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.static-button:hover {
    color: #fff;
    background-color: #c63938;

}
.big-txt {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.pd-1 {
    padding-top: 10px;
}

.p-desc {
    font-size: 0.8rem;
    color: #6d6d6d;
    line-height: 2rem;
    width: 77%;
}



nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    max-width: 95%;
    margin: 0 auto;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-right: 10px;
    padding-left: 10px;
}

.navbar-brand img {
    width: 10rem;
}

.nav-item a {
    color: #1b2835 !important;
    text-decoration: none;
    position: relative;
}

.nav-item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #c63938;
    /* Adjust the color as needed */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.navbar a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-nav li {
    margin-right: 35px;
    font-weight: 300;
}

.navbar-nav li:last-child {
    margin-right: 0;
}




/* Main content styling */
/* .main-content-test{
    background-image: url(banner-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:90vh;
} */
.main-content {
    /* padding: 20px; */
    text-align: center;
    /* height: 95vh; */
    max-width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000;
}

.heading-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #f5f5f5;
    padding: 20px;
    border-radius: 20px;
}

.heading-content p {
    margin-bottom: 0.2rem;
    text-transform: uppercase;
}

.heading-img {
    text-align: left;
    position: relative;
}

.heading-img img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0;
}

.heading-main {
    font-size: 2.5rem;
    text-transform: uppercase;
}
.heading-main-test{
    font-size: 3rem;
}

/* second section */
.second-section{
    padding-top: 8rem;
    padding-bottom: 4rem;

}
.small-image-height .heading-img img {
    height: 50vh !important;
}

/* Add transition for a smooth effect */
.heading-img img {
    transition: height 0.5s ease;
}

.sofa-img img {
    object-fit: cover;
    border-radius: 0;
}

#sofa-img-1 {
    text-align: left;
    position: absolute;
    bottom: 0;
}

#sofa-img-2 {
    text-align: right;

}

#sofa-img-1 img {
    margin-top: 26px;
    width: 40%;
}

#sofa-img-2 img {
    width: 70%;
    margin-bottom: 50px;

}

.expertise-div {
    position: relative;
}

.dream-div {
    padding-right: 20px;
}



/* Third section */
.third-section{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.third-bg-img{
    background-image: url(fetures_bg.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-repeat: no-repeat;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 5px;
    margin: 5px;
}

.grid-item {
    display: flex;
    align-items: left;
    text-align: left;
    color: #c6c6c6;
    padding: 5px;
    border-radius: 8px;
}
.main-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flow-icons {
    background-image: url(icons_1.svg);
    width: 75px;
    display: block;
    height: 75px;
    background-position-x: -7px;
    background-size: 220%;
}

.grid-item img {
    width: 50px;
}

.steps-sec p {
    margin-bottom: 0rem;
    padding-left: 15px;
    font-size: 14px;

}
.ic-row{
    overflow: hidden;
}
.steps-sec h6{
    padding-left: 15px;
    font-size: 18px;
}

#icons-01 {
    background-position-y: -6px;
}

#icons-02 {
    background-position-y: -469px;
}

#icons-03 {
    background-position-y: -280px;

}

#icons-04 {
    background-position-y: -379px;

}

#icons-05 {
    background-position-y: -189px;
}

#icons-06 {
    background-position-y: -98px;
}

#icons-07 {
    background-position-y: 90px;
}


/* fourth section */

.fourth-section{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.fourth-section img{
    width: 100%;
}
.fourth-section h1{
    color: #c63938;
}
.dream-cont{
    display: flex;
    align-items: center;
}

/* Fifth section */
.fifth-section{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
#video-container {
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

#fullscreen-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fifth-section h2 {
    text-align: center;
    padding-bottom: 2rem;
    text-transform: uppercase;
    color: #c63938;
}

/* Sixth section */

.image-container {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    left: 0;
    height: 20%;
    width: 100%;
    background-color: #ffffffd4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.3s ease-in, opacity 0.3s ease-in;

}

.overlay h6 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

.overlay p {

    font-size: 12px;
    padding-top: 2rem;
    text-align: center;
    line-height: 25px;
    color: #888;


}

.overlay .type-desc {
    width: 70%;
    display: none;
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    transition: opacity 1s ease-in;
}

.image-container:hover {
    .overlay {
        height: 100%;
        opacity: 1;
    }

    .overlay .type-desc {
        display: block;
        opacity: 1;
    }

}

.overlay-text {
    margin: 0;
    padding: 10px;
    color: #6d6d6d;
}

.sixth-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.sixth-section .image-container {
    height: 500px;
}

.sixth-section .col-lg-4 {
    padding-top: 2rem;
}

.sixth-section .text-div {
    text-align: center;

}

.sixth-section .text-div {
    color: #c63938;
}

.sixth-section .image-container img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}
/* Seventh ssection  */
.seventh-section {
    /* height: 80vh; */
    width: 100%;
    background-size: cover;
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* .back-img-sec {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;

} */

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 8px;
}

form input,
form textarea {
    margin-bottom: 16px;
    padding: 8px;
}





.seventh-section {
    color: #888;
    text-transform: uppercase;
    font-size: 12px;
}

.seventh-section h1 {
    color: #6d6d6d;
}

.seventh-section input {
    color: #888;
    background-color: #f5f5f5;
    border: none;
    font-size: 12px;
    outline: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
    box-shadow: 0;
}

.seventh-section input:focus {
    color: #888;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    box-shadow: 0;
}

.seventh-section input.visited {
    color: #888;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    border-radius: 0;
    border-bottom: 1px solid orange;
    box-shadow: 0;
}
.seventh-section textarea {
    color: #888;
    background-color: #f5f5f5;
    border: none;
    font-size: 12px;
    outline: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
    box-shadow: 0;
}

.seventh-section textarea:focus {
    color: #888;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    box-shadow: 0;
}

.seventh-section textarea.visited {
    color: #888;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    border-radius: 0;
    border-bottom: 1px solid orange;
    box-shadow: 0;
}
.seventh-section label {
    color: #888;
    opacity: 0.8;
}

.seventh-section .caution {
    opacity: 0.7;
}


.cont-head {
    padding-bottom: 4rem;
    
}

.contact-ic {
    display: grid;
    align-items: center;
}

.contact-ic p {
    margin-bottom: 0;
}



.contact-ic img {
    width: 50px;
    height: 50px;
}

.contact-ic p {
    padding-top: 1rem;
}


.contact-details p {
    font-size: 12px;
}

.contact-details h4 {
    font-size: 1rem;
    color: #6d6d6d;
    padding-bottom: 1.5rem;
}

.contact-row {
    padding-left: 4rem;
}
#saveContact{
 width: 60%;   
}
/* Footer section */
footer h5 {
    font-size: 1rem;
    color: #6d6d6d;
    font-weight: 200;
}

footer {
    text-transform: uppercase;
}

footer li {
    font-size: 12px;
    color: #888;
    padding-top: 1rem;
}

footer li a {
    color: #888;
}

footer li a:hover {
    color: #c63938;
}

.other-icons {
    background-image: url(icons.svg);
    width: 35px;
    display: block;
    height: 35px;
}
.bg-white{
    border-radius: 10px 10px 0 0;
}
.dream-cont .text-div{
    padding-left: 4rem;
}
.logo-desc h4 {
    font-size: 2.5rem;
    font-weight: 200;
    padding-top: 0rem;
    color: #1b2835;
    text-align: end;
    text-transform: uppercase;
}
.mobile-view{
    display: none;
}
.desktop-view{
    display: block;
}
.gal-first-section{
    display: flex;
    height: 40vh;
    justify-content: center;
    align-items: center;
}
.gal-first-section p{
    font-size: 12px;
    line-height: 25px;
    color: #888;
    margin-bottom: 0;
}
.gal-first-section .border-line{
    border-right: 1px solid #c63938 ;

}
.wrapper-small{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.gal-first-section .col-lg-6{
    padding-left: 4rem;
    display: flex;
    justify-content: end;
    align-items: center;
}
.gal-first-section .border-line{
    padding-left: 0;
    text-align: end;
    padding-right: 4rem;
}
.navbar-background {
    position: absolute;
    width: 100%;
}

.navbar-light .navbar-toggler{
    border: none;
    box-shadow: none;
    padding: 0;
    padding-bottom: 1rem;
}
.navbar-light .navbar-toggler:focus{
    border: none;
    box-shadow: none;
}
.navbar-light .navbar-toggler:active{
    border: none;
    box-shadow: none;
}
.nav-item a {
    color: #fff !important;
}
.navbar-background {
    position: absolute;
    width: 100%;
}



.nav-item a {
    color: #1b2835 !important;
}

.about-fourth-section {
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.logo-conc-img {
    text-align: center;
}

.logo-conc-img img {
    width: 100%;
}
.about-fourth-section {
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.logo-conc-img {
    text-align: center;
}

.logo-conc-img img {
    width: 100%;
}



video {
    height: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.video-container {
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 24px;
    width: 80%;
    z-index: 1;
}

.text-overlay img {
    max-width: 100%;
    height: auto;
}

.white-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    /* Adjust opacity by changing the last value (0 to 1) */
    z-index: 0;
}



.about-first-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}





.logo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.logo-overlay:hover {
    background: rgba(255, 255, 255, 0.7);
}

.logo-overlay:hover+#a-tag {
    display: block;
}

#a-tag:hover {
    display: block;
    background: rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 576px){
    .desktop-view{
        display: none;
    }
    .mobile-view{
        display: block;
    }
}

@media only screen and (max-width: 992px){
    
    .main-content{
        padding: 0 !important;
        height: auto !important;
    }
    .heading-content{
        padding: 0;
    }
    .second-section{
        padding-top: 0;
        padding-bottom: 0;
    }
    .fourth-section{
        padding-top: 0;
        padding-bottom: 2rem;
    }
    .sixth-section{
        padding-top: 0;
    }
    .fifth-section{
        padding-top: 0;
        padding-bottom: 2rem;
    }
    .seventh-section {
        padding-top: 0;
        height: auto;
    }
    .sixth-section .col-lg-4 {
    padding-top: 0.5rem;
    }
    .ic-row{
        padding-left: 0;
        padding-right: 0;
    }
    
    .col-lg-5{
        padding-top: 2rem;
    }
    .col-lg-7{
        padding-top: 3rem;
    }
    #sofa-img-2 img{
        width: 85%;
    }
    
    .main-grid{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    
    .fourth-section img{
        width: 100%;
    }
    .contact-row{
        padding-left: 0;
    }
    
    
    .right-img{
        width: 100%;
        display: none !important;
    }
    h1{
        font-size: 2.5rem;
        font-weight: 500;
    }
    h2{
        font-size: 2rem;
        font-weight: 200;
    }
    .big-txt{
        font-size: 2rem;
    }
    .expertise-div {
        display: none;
    }
    .contact-row{
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
    .p-5{
        padding: 1rem !important;
    }
 
    .p-desc{
        line-height: 1.8rem;
        padding-top:0;
        width: 80%;
    }
    #saveContact{
        width: 100%;
        
    }
    .cont-head {
        padding-bottom: 2rem;
    }
    .bg-img-joy{
        padding-left: 0;
        padding-right: 0;
    }
    .flow-icons {
        background-image: url(icons_1.svg);
        width: 60px;
        display: block;
        height: 60px;
        background-position-x: -3px;
        background-size: 220%;
    }
    .steps-desc{
        padding-left: 0;
        font-size: 10px;
    }
    .steps-sec p{
        padding-left: 0;
        font-size: 10px;
    }
    .steps-sec h6{
        padding-left: 0;
        font-size: 14px;
    }
    #icons-01{
        background-position-y: -6px;
    }
    #icons-02{
        background-position-y: -375px;
    }
    #icons-03{
        background-position-y: -224px;
    }
    #icons-04{
        background-position-y: -302px;
    }
    #icons-05{
        background-position-y: -150px;
    }
    #icons-06{
        background-position-y: -449px;
    }
    .joy-head{
        padding-top: 1.5rem;
    }
    .footer-row{
        padding-top: 2rem;
    }
    .sixth-section .pd-1{
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
    .dream-cont .text-div{
        padding-left: 0;
    }
    .third-bg-img{
        background-position: 30%;
    }
    .navbar-nav li{
        margin-right: 0;
        text-align: end;
    }
}




/* # about */








@media only screen and (max-width: 992px) {
    .logo-desc h4 {
        font-size: 1rem;
        padding-top: 0rem;
    }

}


